---
type Props = {
  isLink?: boolean;
  link?: string;
  label: string;
};
const { isLink = false, link = "#", label } = Astro.props as Props;
---

{
  isLink ? (
    <a href={link} aria-label={label}>
      <div class:list={["menu-button"]}>
        <slot />
      </div>
    </a>
  ) : (
    <div class:list={["menu-button"]}>
      <slot />
    </div>
  )
}

<style lang="scss">
  @use "@styles/vars";
  .menu-button {
    background-color: rgba(vars.$ke-white, 0.05);
    width: max-content;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    font-size: 1.125rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    &:hover {
      background-color: rgba(vars.$ke-black, 0.2);
    }
  }
</style>
