---
type Props = {
  isLink?: boolean;
  link?: string;
  label: string;
  id?: string;
};
const { id, isLink, link, label } = Astro.props as Props;
---

{
  isLink ? (
    <a href={link} aria-label={label}>
      <div class:list={["menu-button"]}>
        <slot />
      </div>
    </a>
  ) : (
    <div id={id} class:list={["menu-button"]}>
      <slot />
    </div>
  )
}

<style lang="scss">
  @use "@styles/vars" as *;
  .menu-button {
    background-color: rgba($ke-white, 0.05);
    color: $ke-white;
    width: max-content;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    font-size: 1.125rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    &:hover {
      background-color: rgba($ke-black, 0.2);
    }
  }
  .menu-opened {
    color: $ke-blue;
    background-color: rgba($ke-black, 0.05);
    transition: all 200ms ease-in-out;
    &:hover {
      background-color: rgba($ke-black, 0.2);
    }
  }
</style>
