---
import NavButton from "@components/buttons/NavButton.astro";
import SocialMediaMenu from "./SocialMediaMenu.astro";

type Link = {
  text: string;
  url: string;
};
type Menu = Link[];
const menu: Menu = [
  {
    text: "Inicio",
    url: "/",
  },
  {
    text: "Nosotros",
    url: "/nosotros",
  },
  {
    text: "Servicios",
    url: "/servicios",
  },
  {
    text: "Proyectos",
    url: "/proyectos",
  },
  {
    text: "Noticias",
    url: "/noticias",
  },
  {
    text: "Contacto",
    url: "/contacto",
  },
];
---

<section id="desktop-menu" class="desktop-menu">
  <div class="desktop-menu--desktop-menu-background">
    <div class="desktop-menu-background--column"></div>
    <div class="desktop-menu-background--column"></div>
  </div>
  <div class="desktop-menu--menu-grid">
    <div class="menu-grid--column">
      <nav class="desktop-menu--main-nav">
        <ul class="main-nav--list">
          {menu.map((i) => <NavButton link={i} />)}
        </ul>
      </nav>
    </div>
    <div class="menu-grid--column">
      <SocialMediaMenu />
    </div>
  </div>
  <style lang="scss">
    @use "@styles/vars" as *;
    .desktop-menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 800;
      width: 100%;
      height: 100vh;
      height: 100dvh;
      &--desktop-menu-background {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        @include device(xl) {
          grid-template-columns: repeat(2, 1fr);
        }
        .desktop-menu-background {
          &--column {
            width: 100%;
            height: 100vh;
            height: 100dvh;
            &:first-child {
              background-color: rgba($ke-white, 0.9);
            }
            &:last-child {
              background-color: rgba($ke-white, 0.7);
              display: none;
              @include device(xl) {
                display: block;
              }
            }
          }
        }
      }
      &--menu-grid {
        position: absolute;
        width: 100%;
        height: 100vh;
        height: 100dvh;
        padding: 126px 24px;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @include device(xl) {
          grid-template-columns: repeat(2, 1fr);
        }
        .menu-grid {
          &--column {
            width: 100%;
            display: flex;
            align-items: end;
          }
        }
      }
      &--main-nav {
        .main-nav {
          &--list {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            @include device(xl) {
              gap: 2rem;
            }
          }
        }
      }
    }
  </style>
</section>
