---
import MenuButton from "@components/buttons/MenuButton.astro";
import EmailIcon from "./icons/EmailIcon.astro";
import Keinoestudio from "./icons/Keinoestudio.astro";
---

<header id="site-header">
  <div class="menu-block">
    <MenuButton isLink link="/" label="keino estudio inicio"
      ><Keinoestudio style="width: 126px" classList={["desktop"]} /></MenuButton
    >
    <MenuButton label="menu"><p>menú</p></MenuButton>
  </div>
  <div class="menu-block">
    <MenuButton isLink link="/acceso-clientes" label="acceso clientes"
      ><p>acceso clientes</p></MenuButton
    >
    <MenuButton isLink link="mailto:oficina@keinoestudio.com" label="contacto"
      ><EmailIcon style="width:28px" />
    </MenuButton>
  </div>
  <style is:inline lang="scss">
    @use "@styles/vars";
    header {
      padding: 1.5rem;
      width: 100%;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .menu-block {
      display: flex;
      gap: 0.4rem;
    }
  </style>
</header>
