---
import MenuButton from "@components/buttons/MenuButton.astro";
import EmailIcon from "@components/icons/EmailIcon.astro";
import K from "@components/icons/K.astro";
import Keinoestudio from "@components/icons/Keinoestudio.astro";
import Cross from "@components/icons/Cross.astro";
---

<header id="site-header">
  <div class="menu-block menu-block__left">
    <MenuButton isLink link="/" label="keino estudio inicio"
      ><K style="width: 16px" classList={["mobile"]} />
      <Keinoestudio style="width: 126px" classList={["desktop"]} /></MenuButton
    >
    <MenuButton id="menu-trigger" label="menu"
      ><p class="menu-menu">menú</p><Cross
        style="width: 18px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0"
        classList={["menu-cross"]}
      /></MenuButton
    >
  </div>
  <div class="menu-block menu-block__right">
    <MenuButton isLink link="/acceso-clientes" label="acceso clientes"
      ><p>acceso clientes</p></MenuButton
    >
    <MenuButton isLink link="mailto:oficina@keinoestudio.com" label="contacto"
      ><EmailIcon style="width:28px" />
    </MenuButton>
  </div>
  <script>
    document.addEventListener("astro:page-load", () => {
      let trigger = 200;
      let init = 0;
      let header = document.querySelector("#site-header") as HTMLElement;
      if (header != undefined) {
        window.addEventListener("scroll", (event) => {
          let newPos = window.scrollY;
          if (newPos > trigger) {
            if (newPos > init) {
              init = newPos;
              header.style.opacity = "0";
              header.style.top = "-100px";
            } else if (newPos < init) {
              init = newPos;
              header.style.opacity = "1";
              header.style.top = "0px";
            } else {
              header.style.opacity = "1";
              header.style.top = "0px";
            }
          }
        });
      }
    });
  </script>
</header>
<style lang="scss">
  @use "@styles/vars" as *;
  header {
    padding: 1.5rem;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    z-index: 900;
    transition: all 400ms ease-in-out;
  }
  .menu-block {
    display: flex;
    gap: 0.4rem;
    &__right {
      display: none;
      @include device(xl) {
        display: flex;
      }
    }
    &__left {
      width: 100%;
      justify-content: space-between;
      @include device(xl) {
        width: max-content;
        justify-content: flex-start;
      }
    }
  }
</style>
