---
import PageTitle from "@components/parts/PageTitle.astro";
import PageContent from "./PageContent.astro";
import PageNav from "./PageNav.astro";
import type { ArticleItems } from "@pages/politica-privacidad.astro";

type Props = {
  title: string;
  data: ArticleItems;
};
const { title, data } = Astro.props;
---

<section class="protect-animation standard-page">
  <PageTitle title={title} />
  <div class="standard-page--nav">
    <PageNav data={data} />
  </div>
  <div class="standard-page--content">
    <PageContent data={data} />
  </div>
  <style lang="scss">
    @use "@styles/vars" as *;
    .standard-page {
      visibility: hidden;
      width: 100%;
      padding: 96px 24px;
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "heading"
        "text-area";

      @include device(xl) {
        padding: 126px 24px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
          "heading heading heading heading heading"
          "aside aside text-area text-area text-area";
        column-gap: 4rem;
      }
      &--nav {
        grid-area: aside;
      }
      &--content {
        grid-area: text-area;
      }
    }
  </style>
</section>
