@use 'base';
@use 'vars';
@forward 'vars';
body{
    margin: 0;
    background-color: vars.$ke-blue;
    font-family: vars.$sans;
    color: vars.$ke-white;
}
.desktop{
    display: none;
    @include vars.device(xl){
        display: block;
    }
}
.mobile{
    display: block;
    @include vars.device(xl){
        display: none;
    }
}