---
import "@fontsource-variable/funnel-sans";
import "@fontsource-variable/funnel-display";
import "@styles/main.scss";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <title>keino estudio | {Astro.props.title}</title>
  </head>
  <body><slot /></body>
</html>
